article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

h1{
  text-align: center;
  margin: 0px 10px 30px 10px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 2px 2px grey;
  box-shadow: 0px 5px lightgrey;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
button{
  width: 25%;
  height: 55px;
  margin: 5px;
  font-size: 12px;
  background: white;
  border: none;
  border-top: 1px dotted lightgray;
  border-left: 1px dotted lightgray;
  box-shadow: 5px 5px black;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers li {
  margin: 0.5em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.clicked {
  color: salmon !important;
}

@media (max-width: 768px ) {
  h1{
    margin: 20px 10px;
    font-size: 22px;
  }

  .buttons-container{
    width: 85%;
  }

  button{
    width: 100%;
  }
}